button {
  font-family: 'Verdana', sans-serif;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #3D7E9A; /* Botón habilitado */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #28647A;
}

button:disabled {
  background-color: #BDC3C7; /* Botón deshabilitado */
  color: #7F8C8D;
  cursor: not-allowed;
}