<div class="ranking-container">
  <h1>Ranking de jugadores</h1>
  <table>
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Jugador</th>
        <th>Puntuación</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let player of ranking; let i = index"
        app-row
        [rank]="i + 1"
        [username]="player.username"
        [score]="player.score">
      </tr>
    </tbody>
  </table>

  <br>
  <app-button 
    [text]="'Volver a inicio'"
    [styleClass]="'ranking-btn'"
    (buttonClick)="goBack()">
  </app-button>
</div>
