<div class="home-container">
  <h1>Bienvenido al juego!</h1>
  <input
    type="text"
    placeholder="Introduzca su nombre"
    [(ngModel)]="username"
    class="name-input"
  />
  
  <app-button 
    [text]="'Comienza el juego'"
    [disabled]="!username.trim()"
    [styleClass]="'start-btn'"
    (buttonClick)="startGame()">
  </app-button>

  <app-button 
    *ngIf="hasPlayers"
    [text]="'Ranking'"
    [disabled]="!hasPlayers"
    [styleClass]="'ranking-btn'"
    (buttonClick)="showRanking()">
  </app-button>
</div>
